@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title.</h2>

<p>
    Uma aplicação Web simples, baseada na solicitação da empresa, fundamentada em um CRUD contruido pela desenvolvedora
    Glaucia Lemos, a qual teve a gentileza de me fornecer um suporte e auxilio, baseado no seu curso de CRUD com MVC5 e AngularJs, o qual observei atravez do youtube visando entender e aprender o que me foi solicitado.
</p>
