@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>

<address>
    Rua Jose Hercilio da Silva<br />
    Criciuma, SC 88810-038<br />
    <abbr title="Celular">Cel: </abbr>
    (21) 9 6941 9988
</address>

<address>
    <strong>Support:</strong><a href="mailto:vinicius.fiorim@live.com"> vinicius.fiorim@live.com</a><br />
</address>